# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
*.egg-link
.installed.cfg
lib/
lib64/

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Logs & temp
*.log
*.tmp
*.swp
